<div class="container">
    
 
    <div class=”row”>


      <%= image_tag 'green thumb logo.svg' %>

      <div class="row">
        <div class="col-sm-12 text-center">

          <%= link_to('SIGN UP', new_user_registration_path, class: 'btn btn-orange btn-lg btn-block')  %>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <%= link_to('LOG IN', new_user_session_path, class: 'btn btn-primary btn-teal btn-lg btn-block')  %>
        </div>
      </div>

      </div>

    </div>
  </div>
</div>
