<p id="notice"><%= notice %></p>

<h3>SELECT AN ACTIVITY</h3>

<div class="border-form-div col-md-4 col-md-offset-4">
  
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <strong> <%= activity.title %> </strong><br>
        <td><%= link_to 'Show', activity %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

